*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.home-page{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
}

.home-sec-1{
    display: flex;
    width: 100vw;
    height: 90vh;
    align-items: center;
}
.home-sec-1-left{
    flex: 2;
    display: flex;
    justify-content: center;
    padding-left: 20px;
}
.home-sec-1-right{
    flex:1;
}

.home-sec-1-text{
    width: 40vw;
}

.ani-under{
    background-color: rgb(7, 207, 140);
    margin-bottom: 10px;
    width: 35vw;
    height: 5px;
    animation-name: aniunder;
    animation-duration: 3s;
}

.ani-rotact{
    scale: 2;
    animation-name: anirotact;
    animation-duration: 3s;
}


















.home-sec-2{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.ani-sec-2-1{
    overflow: hidden;
    height: 60px;
    scale: 1.4;
    color: #20ade0;
    animation-name: ani2_1;
    animation-timeline: view();
    animation-range: entry 0% cover 80%;
}



.sec-2-text{
    opacity: 1;
    font-size: 20px;
    animation-name: ani2_2;
    animation-timeline: view();
    animation-range: entry 0% cover 70%;
}







.home-sec-3{
    width: 100vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ani-sec-3-1{
    overflow: hidden;
    height: 60px;
    width: 80vw;
    scale: 1.4;
    margin-bottom: 30px;
    color: #20ade0;
    animation-name: ani2_1;
    animation-timeline: view();
    animation-range: entry 0% cover 90%;
}

.bubble{
    width: 200px;
    height: 200px;
    background-color: rgb(163, 255, 241);
    border-radius: 50%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    animation-name: showblocks;
    animation-timeline: view() ;
    animation-range: entry 0% cover 40%;
}

.in-bubble{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.in-bubble-h4{
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
}

.in-bubble-p{
    padding: 10px;
    padding-top: 20px;
    display: none;
    color: #5e0505;
    font-size: 0.8rem;
}
.bubble:hover{
    scale: 1.2;
    transition: 2s;
    background-image: none;
}
.bubble:hover .in-bubble-p{
    display: block;
}

.bubble:hover .in-bubble-h4{
    display: none;
}





.home-sec-4{
    width: 100vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@keyframes showblocks {
    0%{
        scale: 0;
        opacity: 0;
    }
    60%{
        scale: 0;
        opacity: 0;
    }
    100%{
        opacity: 1;
        scale: 1;
    }
}

.ani-under2{
    height: 7px;
    background-color: #20ade0;
    margin-top: 30px;
    animation-name: aniunder2;
    animation-timeline: view();
    animation-range: entry 0% cover 90%;
}

@keyframes aniunder2 {
    0%{
        width: 0px;
    }
    40%{
        width: 0px;
    }
    100%{
        width: 30vw;
    }
}
.ani-under3{
    height: 7px;
    margin-bottom: 100px;
    background-color: #20ade0;
    animation-name: aniunder3;
    animation-timeline: view();
    animation-range: entry 0% cover 90%;
}

@keyframes aniunder3 {
    0%{
        width: 0px;
    }
    40%{
        width: 0px;
    }
    100%{
        width: 20vw;
    }
}

@keyframes aniunder {
    from{
        width: 0px;
    }
    to{
        width: 35vw;
    }
}

@keyframes anirotact {
    from{
        scale: 0;
    }
    to{
        scale: 2;
    }
}



@keyframes ani2_1 {
    from{
        height: 0px;
        scale: 0;
        color: rgb(255, 0, 0);
    }
    to{
        scale: 1.4;
        height: 60px;
        color: #20ade0;
    }
}

@keyframes ani2_2 {
    0%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    80%{
        opacity: 1;
    }
}


.bubble1{
    background-image:url('../../assets/home1.jpg');
    background-size: cover;
    background-position: center;
}
.bubble2{
    background-image:url('../../assets/home2.jpg');
    background-size: cover;
    background-position: center;
}
.bubble3{
    background-image:url('../../assets/home3.jpg');
    background-size: cover;
    background-position: center;
}
.bubble4{
    background-image:url('../../assets/home4.jpg');
    background-size: cover;
    background-position: center;
}
.bubble5{
    background-image:url('../../assets/home5.jpg');
    background-size: cover;
    background-position: center;
}

.chat-bt-btn{
    width: 50px;
    height: 50px;
    background-color: #5e0505;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    cursor: pointer;
    background-image: url('../../assets//images/logo-w.png');
    background-size: cover;
    background-position: center;
}

.chat-box{
    background-color: #a3d1da;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}