.bbbtttnnn {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color: green;
}

.start-btn {
    background-color: #1eb9fc;
}

.stop-btn {
    background-color: rgb(244, 49, 49);
}

.heading-translator {
    font-size: 30px;
    text-align: center;
}

.box-translator {
    width: 44vw;
    height: 60vh;
}

.video-play-true {
    width: 40vw;
    height: 40vh;
    padding: 20px;
}

.working-box {
    width: 44vw;
    height: 60vh;
}

.inbox {
    width: 40vw;
    height: 40vh;
}

.text-isl {
    display: flex;
    gap: 10px;
}

@media(max-width:640px) {
    .heading-translator {
        font-size: 20px;
    }

    .box-translator {
        width: 78vw;
        height: 60vh;
        background-color: #558eff;
    }

    .video-play-true {
        width: 70vw;
        height: 40vh;
        padding: 5px;
    }

    .heading11 {
        font-size: 20px;
    }

    .working-box {
        width: 90%;
    }

    .inbox {
        width: 90%;
    }

}